* {
  margin: 0;
  padding: 0;
  color: #3d4451;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #efefef;
  color: #9a9da2;
}

section  {
  max-width: 940px;
  margin: 0 auto 80px;
}

section h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 25px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.main {
  display: none;
}

.topHeader {
  width: 100%;
  line-height: 90px;
  animation: down ease-out 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  margin-bottom: 68px;
  position: absolute;
  top: 0;
}

.topHeaderInner {
  margin: 0 auto;
  max-width: 1550px;
}

.topHeaderFixed {
  background: white;
  line-height: 60px;
  position: fixed;
  top: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  z-index: 1;
  transition: all .5s
}


@keyframes down {
  0% {
    opacity:0;
    transform:  translate(0px,-300px) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

@keyframes up {
  0% {
    opacity:0;
    transform:  translate(0px, 300px) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

.topHeader {
  h1 {
    float: left
  }
}

.topHeader h1 span {
  color: #9a9da2;
  padding-left: 5px;
}

.topHeader h1 span:first-child {
  color: #e86767;
}

.topHeader nav {
  float: right;
}


.topHeader .nav > li {
  float: left;
  list-style-type: none;
  margin-left: 40px;
  position: relative;
}

.topHeader .nav > li a {
  text-decoration: none;
  color: #b7b7b7;
  font-size: 12px;
  padding: 12px 0;
  transition: all 1s;
  position: relative;
  text-transform: uppercase;

}

.topHeader .nav > li > a::after {
  content: '';
  display: block;
  position: absolute;
  top: 36px;
  height: 3px;
  background: #e86767;
  width: 0;
  transition: all .5s linear;
}

.topHeader .nav > li.active  > a::after, .topHeader .nav > li.heightLight  > a::after   {
  width: 100%;
}

.topHeader .nav  .childMenu {
  display: none;
}

.topHeader .nav > li.active > .childMenu {
  display: block;
  position: absolute;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  top: 66px;
  animation: childMenu .3s;
}

.topHeaderFixed .nav > li.active > .childMenu {
  display: block;
  position: absolute;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  top: 52px;
  animation: childMenu .3s;
}

.topHeader .nav > li.active > .childMenu a:hover,
.topHeaderFixed .nav > li.active > .childMenu a:hover {
  color: #e8676b !important;
  background: #fafafa !important;
  cursor: pointer;
}

@keyframes childMenu {
  0% {
    margin-left: -50%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;

  }
}

.topHeader .nav li .childMenu > li {
  margin-left: 0;
  line-height: 24px;
}

.topHeader .nav li .childMenu > li > a{
  padding: 10px 30px;
  color: #3d4451;
}


.topHeader .nav li .childMenu > li:first-child {
  margin-top: 10px;
}

.topHeader .nav li .childMenu > li:last-child {
  margin-bottom: 10px;
}
.topBgWrap {
  width: 100%;
  height: 515px;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: -1;
}
.topBg {
  width: 100%;
  height: 515px;
  position: absolute;
  z-index: -2;
  background: url("../img/bg.jpg") center center;
  background-size: cover;
  top: 0;
}


[data-scroll]{
  opacity: 0;
}

.scroll {
  animation: up ease-out 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  display: block;
  opacity: 1;

}

main {
  margin: 160px auto 0;
  background: #ffffff;
  width: 940px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

main .infoWrap .infoShow {
  padding: 50px;
}

main .infoWrap .infoShow img {
  float: left;
  margin-right: 60px;
}

main .infoWrap .infoShow .info {
  float: left;
  padding-top: 8px;
  width: 478px;
  position: relative;
}

main .infoWrap .infoShow .info .tip {
  background: #e86767;
  padding: 7px 12px;
  color: #ffffff;
  font-size: 14px;
}

main .infoWrap .infoShow .info .triangle {
  border: 10px solid transparent;
  width: 0;
  border-left-color: #e6686a;
  border-top-width: 0;
  display: block;
  position: absolute;
  top: 35px;
  left: 4px;
}

main .infoWrap .infoShow .info h2 {
  margin-top: 35px;
  font-weight: bold;
  font-size: 36px;
}

main .infoWrap .infoShow .info p {
  font-size: 18px;
  margin-bottom: 25px;
}

main .infoWrap .infoShow .info hr {
  color: #dedede;
  margin-bottom: 25px;
}

main .infoWrap .infoShow .info li {
  margin-bottom: 15px;
}

main .infoWrap .infoShow .info strong {
  color: #333333;
  float: left;
  line-height: 20px;
  width: 125px;
}

main .infoWrap .infoShow .info span {
  line-height: 20px;
  color: #9da0a7;
}

main .infoWrap footer {
  background: #e86767;
}

main .infoWrap footer ul {
  text-align: center;
}


main .infoWrap footer li {
  display: inline-block;
}

main .infoWrap footer li a {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 20px 15px;
}

main .infoWrap footer li a i {
  color: white;
  font-size: 22px;
  line-height: 45px;
}

main .infoWrap footer li a:hover {
  background: #CE5353;
}

/*下载模块*/
.downloadWrap {
  text-align: center;
  max-width: 940px;
  margin: 0 auto 80px;
}

.downloadWrap a {
  border: 1px solid #cbcdcf;
  padding: 21px 55px;
  margin: 36px auto 40px;
  display: inline-block;
  font-weight: bold;
  transition: all 0.3s;
}

.downloadWrap a:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.downloadWrap p {
  text-align: center;
}
/*技能*/
.skill ul {
  padding: 40px 50px 10px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.skill ul li {
  float: left;
  width: 48%;
  margin-bottom: 40px;
}

.skill ul li:nth-child(even) {
  float: right;
}

.skill li h3 {
  font-size: 14px;
  text-align: left;
}

.skill li .row {
  background: #FAE1E1;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  border-radius: 2px;
}

/*.skill li .progress {*/
  /**/
  /**/
/*}*/

.scroll .progress {
  background: #e86767;
  height: 4px;
  border-radius: 2px;
  animation: progress 2s forwards;
  animation-timing-function: linear;
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: data-width;
  }
}


.portfolio {
  text-align: center;
}

.portfolio nav {
  display: inline-block;
}
.portfolio ul {
  display: inline-block;
}

.portfolio ul li {
  float: left;
  margin: 0 20px;
  cursor: pointer;
}

.portfolio ul li:first-child {
  margin-left: 0;
}

.portfolio ul li:last-child {
  margin-right: 0;
}

.portfolio .bar {
  height: 4px;
  background: #ffffff;
  margin-top: 12px;
  border-radius: 2px;
}

.portfolio .bar .barInner {
  height: 4px;
  background: #e86767;
  border-radius: 2px;
  transition: all 0.3s;
}

.portfolio .state-1 .barInner {
  width: 40px;
}

.portfolio .state-2 .barInner {
  width: 85px;
  margin-left: 40px;
}

.portfolio .state-3 .barInner {
  width: 63px;
  margin-left: 125px;
}

.portfolio .project {
  width: 100%;
  height: 597px;
  margin-top: 28px;
  position: relative;
}

.portfolio .project .projectItem {
  position: absolute;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.portfolio .project .projectItem::before {
  content: '';
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}


.portfolio .project .projectItem .projectInfo {
  padding: 0 5%;
  position: absolute;
  bottom: 10%;
}


.portfolio .project .projectItem .projectInfo h4 {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio .project .projectItem .projectInfo .desc {
  font-size: 14px;
  color: #dddddd;
  text-transform: uppercase;
  text-align: left;
}

.portfolio .project .small .projectInfo h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.message li {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow:  1px 1px 2px 0 rgb(201, 201, 201);
}

.message li h3 {
  margin-bottom: 15px;
}
.message form label {
  position: relative;
}

.message form label input {
  outline: none;
  width: 42%;
  padding: 15px;
}

.message form label i {
  position: absolute;
  right: 15px;
  top: 2px;
  color: #d9d9d9;
}

.message form label input::-webkit-input-placeholder {
  font-size: 12px;
  color: #d9d9d9;
}



#message .icon-message {
  font-size: 18px;
}

#message .send {
  float: right;
  padding: 16px;
  border: none;
  outline: none;
  background: #e86766;
  color: white;
  width: 14%;
}
